
/* .horizontal-line{
    border-top: 1px solid var(--color-grey-dark-1);
    margin-top:0;
    margin-bottom: 4rem;
}  */

%dropdownClass {
  box-sizing: content-box;
    position: absolute;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: .5rem;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.navUl {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navA {
    color: var(--text-color);
    text-decoration: none;;
  }
  
  /* Top Navigation Bar */
  
  /* <nav> */
  .navbar {
    font-size: var(--default-font-size);
    height: var(--nav-size);
    background-color: var(--bg);
    
  }
  
  /* <ul> */
  .navbarNav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  /* <li> */
  .navItem {
    padding: 0 1.5rem;
    display: flex;
    align-items: stretch;
    &:hover,
    &:active{
      color: var(--color-primary);
      background-color: #525357;
    };
    & a{
      display: flex;
      align-items: center;
      justify-content: center;
    }


  }
  
  .spacer{
    margin: 1.5rem;
  }

  /* Icon Button */
  .iconButton {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  
  .iconButton:hover {
    filter: brightness(1.2);
  }
  
  .iconButton svg { 
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }
  
  
  /* Dropdown Menu */

  .dropdown {
    @extend %dropdownClass;  
    top: 8rem;
    right: 25rem;
    width: 25rem;

    &__profile{
      @extend %dropdownClass;
      top: 8rem;
      right: -4.5rem;
      width: 15rem;
      text-align: center;
    }
  }
  
  .menu {
    width: 100%;
  }
  
  .menuItem {
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;

  }
  
  .menuItem .iconButton {
    margin-right: 0.5rem;
  }
  
  
  .menuItem .iconButton:hover {
    filter: none;
  }
  
  .menuItem:hover {
    background-color: #525357;
  }
  
  .iconRight {
    margin-left: auto;
    & svg { 
      fill: var(--text-color);
      width: 20px;
      height: 20px;
    }
  }
  
  /* CSSTransition classes  */
  .menuPrimaryEnter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menuPrimaryEnterActive {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menuPrimaryExit {
    position: absolute;
  }
  .menuPrimaryExitActive {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menuSecondaryEnter {
    transform: translateX(110%);
  }
  .menuSecondaryEnterActive {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menuSecondaryExit {
  
  }
  .menuSecondaryExitActive {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }