:root{
    //Colors
    //Usar RGB para que funcione en propiedades como rgba

--color-primary: #FFB700;
--color-primary-light: #FFE01E;
--color-primary-dark: #DA9D01;

--color-grey-light-1: #f7f7f7;
--color-grey-light-2: #eee;

--color-grey-dark-1: #B5B5B5;
--color-grey-dark-2: #646569;
--color-grey-dark-3: #161615;

--color-white: 255,255,255; // #fff
--color-black: 0,0,0; // #000

--color-black-light: #090909;

--color-danger: #a30000;
--color-danger-light: #ac1919;
--color-danger-dark: #820000;

--bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 

// FONT
--default-font-size: 1.6rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    padding: 3rem;
    background: rgb(var(--color-black));

}

a{
    color: var(--color-primary-light)
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
}

